MASMOVIL_NUMBER=yourMasmovilNumber
MASMOVIL_MQTT_TOPIC=yourMQTTTopic
MASMOVIL_MQTT_ERROR_TOPIC=yourMQTTErrorTopic
MQTT_BROKER=yourMQTTBrokerAddress
MQTT_PORT=yourMQTTPort
MQTT_USER=yourMQTTUser
MQTT_PASSWORD=yourMQTTPassword
